<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">

    <img src="/assets/img/vector-flores.png" alt="" class="imagen-fondo">


  <header>
    <div class="notificaciones">
      <div class="noti-container">
        <span class="material-symbols-outlined">
          notifications
        </span>
        <div class="subcontainer1">
          <div class="num-notificacion">
            <span>2</span>
          </div>
        </div>

      </div>

    </div>
    <div class="foto-perfil">
      <img src="/assets/img/estilista1.jpg" alt="">
    </div>
  </header>
  <app-mapa-disponibilidades></app-mapa-disponibilidades>
  <app-proximas-citas></app-proximas-citas>
</div>

