body{
  width: 1366px;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   

.card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;  
  gap: 12px;

}

.card__profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211, 1);
  width: 25%;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgb(143, 142, 142) ;
  
}

.card__profile:hover{
  background: linear-gradient(180deg, rgba(211,211,211,1) 45%, rgba(195,91,70,1) 100%);   
  
}



.card__profile img{
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  margin-top: -0.7em;
  transition: transform 0.5s ease-in;
}
.card__profile img:hover{
  transform: rotate(-30deg);
}

.card__datos{
  display: flex;
  flex-direction: column;
  gap:12px;
  
}


hr{
  width: 100%;
  height: 2px;
}

.boton{
  background-color: rgb(249, 173, 26, 1);
  padding: 5px 20px;
}

.enlace{
  text-decoration: none;
  color: white;
}

#estado{
  background-color: #ffffff00;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: end;
  margin-top: 0.3em;
  
}
.estado-hijo{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid green;
  margin: 0.2em 1em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo span{
  padding: 0.5em;
  color: green;
}
.estado-hijo-click{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid orangered;
  margin: 0.2em 1em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo-click span{
  padding: 0.5em;
  color: orangered;
}