
<section class="card">
  <header class="header-seccion">
    <h1>{{nombreSeccion}}</h1>
    <div class="vincular-servicio">
      <button class="button" id="btnVincularServicio">
        Vincular nuevo servicio
      </button>
    </div>
  </header>
  <div class="info-seccion">
    <p>En esta sección podrás visualizar información relevante de tus usuarios,
      como la fecha de su creación e información personal. Podrás crear usuarios nuevos o editar los ya existentes.</p>
  </div>
  <div class="card__profile">
      <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>

</section>

