*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 12px;
  margin: 15em 0 0 20em;
  position: sticky;
}

.card__profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211, 1);
  width: 28%;
  padding: 10px;
  gap: 12px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(109, 109, 109) ;

}

.card__profile:hover{
  background: linear-gradient(180deg, rgba(211,211,211,1) 45%, rgba(195,91,70,1) 100%);

}








