
<section class="card">
  <div class="card__profile">
      <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>
  <div class="card__profile">
    <app-contenido-card-usuario></app-contenido-card-usuario>
  </div>

</section>

