*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 12px;
  margin: 5em 0 0 20em;
  padding-bottom: 5em;
  position: sticky;
  justify-content: space-between;
}
.header-seccion{
  width: 100%;
  display: flex;

  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
}
.header-seccion h1{
  font-weight: bold;
  font-size: 2em;
  width: 75%;
  margin-top: 0.7em;

}


.nuevo-usuario{
  width: 12%;
  background-color: #F9AD1A;
  margin: 0 5em 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;
}
.nuevo-usuario span{
  color: #fff;
  padding: 0.85em;
}
.nuevo-usuario:hover{
  background-color: #ef950c;
}
.info-seccion{
  width: 100%;
  display: flex;
  background-color: #6BCEE3;
  color: #5305FA;
  border-radius: 10px;
}


.info-seccion p{
  padding: 0.5em 1.5em;
}

.card__profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211, 1);
  width: 28%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(109, 109, 109) ;
  margin: 1em 0 1em 0;
}

.card__profile:hover{
  background: linear-gradient(180deg, rgba(211,211,211,1) 45%, rgba(195,91,70,1) 100%);

}








