
<button class="nuevo-usuario-btn" (click)="openDialogWithTemplate(template2)">Nuevo cliente</button>

<ng-template #template2>
  <h1 mat-dialog-title class="header-modal">Ingresar clientes<hr></h1>
  <p class="info">En esta ventana podrás registrar un nuevo cliente</p>

  <div mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="formGroup">
      <mat-form-field class="nombre">
        <input matInput placeholder="Primer Nombre" formControlName="name">
        <mat-error *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
          El primer nombre es requerido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="apellido">
        <input matInput placeholder="Apellido" formControlName="lastname">
        <mat-error *ngIf="formGroup.get('lastname')?.invalid && formGroup.get('lastname')?.touched">
          El apellido es requerido.
        </mat-error>
      </mat-form-field>

            <mat-form-field class="email-form">
              <input matInput placeholder="Télefono" formControlName="telefono" type="number">
              <mat-error *ngIf="formGroup.get('telefono')?.invalid && formGroup.get('telefono')?.touched">
                El telefono es requerido y debe ser válido.
              </mat-error>
              <mat-error *ngIf="formGroup.get('telefono')?.errors?.['pattern'] ">
                El telefono debe contener números y diez digitos.
              </mat-error>
            </mat-form-field>

      <mat-form-field class="email-form">
        <input matInput placeholder="Dirección" formControlName="direccion">
        <mat-error *ngIf="formGroup.get('direccion')?.invalid && formGroup.get('direccion')?.touched">
          La dirección  es requerida y debe ser válida.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="email-form">
        <input matInput placeholder="Email" formControlName="Gmail">
        <mat-error *ngIf="formGroup.get('Gmail')?.invalid && formGroup.get('Gmail')?.touched">
          El email es requerido y debe ser válido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="contraseña-form">
        <input matInput placeholder="Contraseña"  formControlName="contraseña" type="password">
        <mat-error *ngIf="formGroup.get('contraseña')?.invalid && formGroup.get('contraseña')?.touched">
          La contraseña es requerida.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="confirmar-form">
        <input matInput placeholder="Confirmar Contraseña" formControlName="ConfirmContraseña" type="password">
        <mat-error *ngIf="formGroup.get('ConfirmContraseña')?.invalid && formGroup.get('ConfirmContraseña')?.touched">
          La confirmación de contraseña es requerida.
        </mat-error>
      </mat-form-field>

      <div>
        <p style="font-weight: bold; margin-right: 200px;">Estado: </p>
        <div id="estado">
          <div style="margin-right: 200px;" (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado}">
            <span>
              {{textoEstado}}
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="Botones" mat-dialog-actions>
    <button class="crear" mat-button (click)="onSave()">Crear Cliente</button>
    <button class="cancelar" mat-button mat-dialog-close>Cancelar</button>

