.nuevo-usuario-btn{
  position: absolute;
  left: 820px;
  top: 25px;
  width: 180px;
  background-color: #F9AD1A;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;
  padding: 0.85em;
  color: white;
  border: none;

}

.header-modal{
  text-align: center;
}

.info{
  background-color: #6BCEE3;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  color:#5305FA;
  margin: 0 100px 0 40px;
}

.Botones{
  display: flex;
  justify-content: space-around;
}

.crear{
  width: 100px;
  height: 40px;
  background-color: #74337F;
  border-radius: 8px;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;

}
.crear:hover{
  background: #56245f;

}

.cancelar:hover{
  background: #7a0101 ;

}


.cancelar{
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 8px;
  color: white;
  margin: 10px 30px 10px 10px;
  border: none;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;
}


/* ajustes del boton de activo e inactivo */

#estado{
  background-color: #ffffff00;
  width: 250px;
  height: 2em;
  display: flex;
  justify-content: center;
  user-select: none;
  margin-right: 200px;
}
.estado-hijo{
  width: 37%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid green;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo span{
  padding: 0.5em;
  color: green;
}
.estado-hijo-click{
  width: 35%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid orangered;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo-click span{
  padding: 0.5em;
  color: orangered;
}
/*Para modificar el select*/
.select{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}

.dropdown{
  margin-left: 40px;
  width: 80%;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid  rgba(164, 119, 90, 1);

}

/*Estilos para los input de fecha y hora sin cambiar*/
input[type="text"]{
  margin-top: 30px;
  margin-left: 40px;
  padding: 15px;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid  rgba(164, 119, 90, 1);


}
/**Estilos para los input de fecha y hora cuando cambiam*/
input[type="date"]{
  margin-top: 30px;
  margin-left: 40px;
  padding: 15px;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid  rgba(164, 119, 90, 1);
}

input[type="time"]{
  margin-top: 30px;
  margin-left: 40px;
  padding: 15px;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid  rgba(164, 119, 90, 1);

}
.custom-dialog-content {
  width: 500px; /* Ajusta el ancho según tus necesidades */
 /* Ajusta la altura según tus necesidades */
}


