<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
  <div class="barra-busqueda">
    <input type="text" required>
    <span class="placeholder-busqueda">Búsqueda</span>
  </div>
  <div class="notificaciones">
    <span class="material-symbols-outlined">
notifications
</span>
  </div>
  <div class="foto">
    <img class="foto-perfil" src="./assets/img/fotoPerfil.jpg" alt="">
  </div>
  <div class="menu"><span class="material-symbols-outlined">
menu
</span></div>
</div>
