
<div class="container">
  <h2>Próximas citas</h2>

  <div class="card">
    <div class="cliente">
      <span>Cita de: <a href="">Juan Carlos</a></span>
    </div>
    <div class="imagen-cliente">
      <img src="/assets/img/cliente1.jpg" alt="" class="foto-cliente">
    </div>
    <div class="informacion-cita">
      <p>Hora: 7:00 a.m.</p>
      <p>Servicio: Corte Caballero</p>
      <p>Estilista: <a href="">Gladys</a></p>
    </div>
  </div>
  <div class="card">
    <div class="cliente">
      <span>Cita de: <a href="">Juan Carlos</a></span>
    </div>
    <div class="imagen-cliente">
      <img src="/assets/img/cliente1.jpg" alt="" class="foto-cliente">
    </div>
    <div class="informacion-cita">
      <p>Hora: 7:00 a.m.</p>
      <p>Servicio: Corte Caballero</p>
      <p>Estilista: <a href="">Gladys</a></p>
    </div>
  </div>
  <div class="card">
    <div class="cliente">
      <span>Cita de: <a href="">Juan Carlos</a></span>
    </div>
    <div class="imagen-cliente">
      <img src="/assets/img/cliente1.jpg" alt="" class="foto-cliente">
    </div>
    <div class="informacion-cita">
      <p>Hora: 7:00 a.m.</p>
      <p>Servicio: Corte Caballero</p>
      <p>Estilista: <a href="">Gladys</a></p>
    </div>
  </div>
</div>
