#contenedor-app{
  display: flex;
}

/* boton d despliegue */
.nuevo-usuario-btn{
  position: absolute;
  left: 650px;
  top: 25px;
  width: 150px;
  background-color: #F9AD1A;
  /* margin: 0 5em 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;
  padding: 0.85em;
  color: white;
  border: none;

}

.nuevo-usuario-btn:hover{
  background-color: #ef950c;
}


/* formularios */

.nombre{
  width: 40%;
}

.apellido{
  width: 40%;
  margin-left: 20px;
}

.contraseña-form{
  width: 100%;
}
.confirmar-form{
  width: 100%;
}

.email-form{
  width: 100%;
}

/* texto de la cabecera del modal */
.header-modal{
  text-align: center;
}

/* texto de informacion */
.info{
  background-color: #6BCEE3;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  color:#5305FA;
  margin: 0 100px 0 40px;
}


/* ajustes del boton de activo e inactivo */

#estado{
  background-color: #ffffff00;
  width: 250px;
  height: 2em;
  display: flex;
  justify-content: center;
  user-select: none;
  margin-right: 200px;
}
.estado-hijo{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid green;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo span{
  padding: 0.5em;
  color: green;
}
.estado-hijo-click{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid orangered;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo-click span{
  padding: 0.5em;
  color: orangered;
}
.info-head{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 15px;
}


/* botones de guardar y cancelar */
.Botones{
  display: flex;
  justify-content: space-around;
}

.crear{
  width: 100px;
  height: 40px;
  background-color: #74337F;
  border-radius: 8px;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;

}
.crear:hover{
  background: #56245f;

}

.cancelar:hover{
  background: #7a0101 ;

}


.cancelar{
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 8px;
  color: white;
  margin: 10px 30px 10px 10px;
  border: none;
  box-shadow: 2px 2px 5px #5b5a5a;
  cursor: pointer;
}

/* tamaño del modal */

.custom-dialog-content {
  width: 500px; /* Ajusta el ancho según tus necesidades */
  height: 300px; /* Ajusta la altura según tus necesidades */
}


.texto-politicas{
  width: 365px;
  margin-left: 60px;
  text-align: justify;

}
