<div class="container-info">
    <div id="estado">
      <div (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado, 'estado-hijo-por-confirmar':true}">
                <span>
                    {{textoEstado}}
                </span>
      </div>
      <div class="editar" (click)="mostrarBurbuja()">
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </div>
    </div>
    <div [ngClass]="{'settings-content-collapsed': editar_collapsed, 'settings-content': !editar_collapsed}">
      <div [hidden]="ocultar_opciones">
        <div class="botonEditar">Editar</div>
        <div class="botonEliminar" >Eliminar</div>
      </div>
    </div>
  <div class="info-head">
    <h2>Cepillado de cabello</h2>
  </div>
    <div class="card__datos">
        <p><span>Estilista:</span>Maricela Gonzales</p>
        <p><span>Fecha:</span> 26/05/2023</p>
        <p><span>Cliente:</span>Arianna Sermeño</p>
    </div>
  </div>
