<button class="nuevo-rol" (click)="openDialogWithTemplate(template2)">Nuevo Rol</button>

<ng-template #template2>
  <h1 mat-dialog-title class="header-modal">Agregar un Nuevo Rol<hr></h1>

  <p class="info">En esta ventana podrás Crear un nuevo rol y asignarle acceso especifico a distintos modulos</p>

  <div mat-dialog-content class="custom-dialog-content">
    <form [formGroup]="formGroup">
      <mat-form-field class="nombre-rol">
        <input matInput class="nombre-rol" placeholder="Nombre de Rol" formControlName="rolName">
      </mat-form-field>
<div class="container-check">
      <div class="checkbox-container">
        <p>Permisos: </p>
        <mat-checkbox class = "check-citas"  formControlName="checkbox1">Modulo Citas</mat-checkbox>
        <mat-checkbox class = "check-citas" formControlName="checkbox2">Modulo Cliente</mat-checkbox>
        <mat-checkbox class = "check-citas" formControlName="checkbox3">Modulo Estilitas</mat-checkbox>
        <mat-checkbox class = "check-citas" formControlName="checkbox4">Modulo Ventas</mat-checkbox>
        <mat-checkbox class = "check-citas" formControlName="checkbox5">Modulo Servicios</mat-checkbox>
      </div>
    </div>
    </form>
  </div>

      <div>
        <p class="texto-estado" style="font-weight: bold;">Estado: </p>
        <div id="estado">
          <div style="margin-right: 200px;" (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado}">
            <span>
              {{textoEstado}}
            </span>
          </div>
        </div>
      </div>


  <div class="Botones" mat-dialog-actions>
    <button class="crear" mat-button (click)="onSave()">Crear Usuario</button>
    <button class="cancelar" mat-button mat-dialog-close>Cancelar</button>
  </div>

