<aside class="menu">
  <img src="/assets/img/vector-flores.png" alt="" class="imagen-fondo">
  <div class="logo">
    <img src="/assets/img/logo_beautysoft.png" alt="logo">
    <span>BeautySoft</span>
  </div>
  <header class="info-head">
    <img src="/assets/img/estilista1.jpg" alt="foto usuario">
    <div class="info-user">
      <span>Daniela Sarmiento</span>
      <span>Estilista</span>
    </div>
  </header>
  <div class="opciones-menu">
    <ul class="opciones-container">
      <li><span>AGENDA</span>
        <ul class="inner-list">
          <li><a href="">Citas</a></li>
          <li><a href="">Disponibilidad</a></li>
          <li><a href="">Turnos</a></li>
        </ul>
      </li>
      <li><span>GESTIÓN</span>
        <ul class="inner-list">
          <li><a href="">Perfil</a></li>
          <li><a href="">Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <footer>
    BeautySoft &copy;
  </footer>
</aside>
