
.card{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.header-seccion{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-seccion h1{
  font-weight: bold;
  font-size: 2em;
  width: 100%;
  margin-top: 0.7em;
  margin-left: .5em;

}


/*.nuevo-usuario{*/
/*  width: 12%;*/
/*  background-color: #F9AD1A;*/
/*  margin: 0 5em 0 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border-radius: 6px;*/
/*  box-shadow: 2px 2px 5px #5b5a5a;*/
/*  cursor: pointer;*/
/*}*/
/*.nuevo-usuario span{*/
/*  color: #fff;*/
/*  padding: 0.85em;*/
/*}*/

.nuevo-usuario:hover{
  background-color: #ef950c;
}
.info-seccion{
  width: 100%;
  display: flex;
  background-color: #6BCEE3;
  color: #5305FA;
  border-radius: 10px;
  margin: 0 .8em 0 .8em;
}


.info-seccion p{
  padding: 0.5em 1.5em 0 1.5em;
}

.contenedor-card{
  display: flex;
  width: 100%;
}
.contenido{
  width: 100%;
}








