
<section class="card">
  <header class="header-seccion">
    <h1>{{nombreSeccion}}</h1>
    <div class="nuevo-usuario">
      <!-- <span>
        Nuevo usuario
      </span> -->
    </div>
  </header>
  <div class="info-seccion">
    <p>{{ayuda}}</p>
  </div>


  <div class="contenedor-card" [ngSwitch]="nombreSeccion">
    <app-contenido-card-usuario *ngSwitchCase="'Usuarios'" class ="contenido"></app-contenido-card-usuario>
<!--    <app-contenido-card-rol *ngSwitchCase="'Roles'"></app-contenido-card-rol>-->
     <app-contenido-card-servicio *ngSwitchCase="'Servicios'"></app-contenido-card-servicio>
     <app-contenido-card-estilista *ngSwitchCase="'Estilista'"></app-contenido-card-estilista>
      <app-contenido-card-clientes *ngSwitchCase="'Clientes'" class="contenido"></app-contenido-card-clientes>
     <app-contenido-card-turnos *ngSwitchCase="'Turnos'"></app-contenido-card-turnos>
     <app-contenido-card-citas *ngSwitchCase="'Citas'"></app-contenido-card-citas>
     <app-contenido-servicio-por-estilista *ngSwitchCase="'Servicio por estilista'"></app-contenido-servicio-por-estilista>
<!--      <app-contenido-card-disponiblidad *ngSwitchCase="'Disponibilidades'"></app-contenido-card-disponiblidad>-->


  </div>
</section>

