<div class="container-info">
    <div id="estado">
      <div (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado}">
                <span>
                    {{textoEstado}}
                </span>
      </div>
      <div class="editar" (click)="mostrarBurbuja()">
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </div>
    </div>
    <div [ngClass]="{'settings-content-collapsed': editar_collapsed, 'settings-content': !editar_collapsed}">
      <div [hidden]="ocultar_opciones">
        <div class="botonEditar" (click)="openDialogWithTemplate(template2)">Editar</div>
        <div (click)="openDialogWithTemplate(template3)" class="botonEliminar" >Eliminar</div>
      </div>
    </div>
    <img src="/assets/img/cepillado.jpg" alt="">
  <div class="info-head">
    <h2>Cepillado de cabello</h2>
  </div>
    <div class="card__datos">
      <p>Duracion: 02:00:00</p>
      <p>Valor:15.000</p>
      <p>Descripción: 
        Cepillado de cabello tanto para dama como para caballero</p>
      <p>Estado: asignada</p>
    </div>
  </div>


  <ng-template #template3>

    <h1 mat-dialog-title class="header-modal">¿Estas seguro de eliminar este servicio?<hr></h1>
  
  <div mat-dialog-content class="custom-dialog-content">
      <p style="font-weight: bold;">Al eliminar este servivio su informacion será eliminda permanentemente ¿Deseas Continuar?</p>
  </div>
  
  <div class="Botones-eliminar" mat-dialog-actions>
      <button class="crear" mat-button (click)="onSave()">Continuar</button>
      <button class="cancelar" mat-button mat-dialog-close>Cancelar</button>
  </div>
  
  </ng-template>



  <!-- contenido del template -->


<ng-template #template2>

  <h1 mat-dialog-title class="header-modal">Actualizar Usuarios<hr></h1>


  <p class="info">En esta ventana Podrás actualizar la información de un Usuario ya existente</p>

<div mat-dialog-content class="custom-dialog-content">
    <p style="font-weight: bold;">Correo Electronico: </p>
    <mat-form-field class="email-form">
      <input matInput placeholder="Email" value="arleycastaneda22@gmail.com"  formControlName="Gmail">
    </mat-form-field>

    <div class="caja-estado">
    <p style="font-weight: bold;">Estado: </p>
    <div id="estado" class="boton-estado">
      <div style="margin-right: 200px;" (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado}">
                <span>
                    {{textoEstado}}
                </span>
      </div>
    </div>
  </div>

</div>

<div class="Botones" mat-dialog-actions>
    <button class="crear" mat-button (click)="onSave()">Guardar</button>
    <button class="cancelar" mat-button mat-dialog-close>Cancelar</button>
</div>

<div class="texto-politicas">
<p>Al diligenciar este formulario, usted acepta nuestras politicas de tratamiento de datos persopnales y otorga su consentimiento para que estos sean almecenados, recopilados y procesados. </p>
</div>
</ng-template>
