<div class="container">
  <div class="card-profile" *ngFor="let c of citasProcesadas; let i = index">
    <div class="sol">
      <img src="/assets/img/sol.png" alt="">
    </div>
    <div class="container-info">
      <div id="estado">
        <div (click)="actualizarEstado(2, c.id_cita)">
                <span>
                    {{c.descripcion_estado}}
                </span>
        </div>
        <div class="editar" (click)="mostrarBurbuja(i)">
        <span class="material-symbols-outlined">
          more_vert
        </span>
        </div>
      </div>
      <div [ngClass]="{'settings-content-collapsed': desplegados[i] == false, 'settings-content': desplegados[i] == true}">
        <div [hidden]="!desplegados[i]">
          <div class="botonEditar" (click)="abrirModal(i)">Editar</div>
          <div class="botonEliminar" (click)="actualizarEstado(4, c.id_cita)">Cancelar</div>
        </div>
      </div>
      <div class="info-head">
        <h3>Cita de: <span>{{c.nombre_cliente}} {{c.apellido_cliente}}</span></h3>
      </div>
      <div class="card__datos">
        <p><span>Fecha y hora:</span> {{c.fecha_cita}} {{c.hora_cita}}</p>
        <p><span>Servicios:</span></p>
        <div class="servicios">
          <ul>
            <li *ngFor="let s of c.servicios; let i = index">
              {{s}}: ${{c.valor[i]}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-editar-cita *ngIf="modalState == true"></app-modal-editar-cita>




