.card-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(211, 211, 211, 1);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(109, 109, 109) ;
  margin: 1em 1.5em 1em 0;
}

.card-profile:hover{
  background: linear-gradient(180deg, rgba(211,211,211,1) 45%, rgba(195,91,70,1) 100%);

}

.container-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.settings-content-collapsed{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  left: 16em;
  top: 3em;
  width: 1em;
  height: 1em;
  border-radius: 10px;
  transition: width 0.8s ease, height 0.6s ease-in, top 0.2s ease, left 0.3s ease-in, background-color 1s ease;
}

.settings-content{
  position: absolute;
  background-color: #fff;
  left: 12.5em;
  top: 3em;
  width: 8em;
  height: 8.5em;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: width 0.9s ease, height 0.6s ease-in, top 0.2s ease, left 0.3s ease-in, background-color 0.01s ease;
}
.settings-content:before{
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
}
.botonEditar, .botonEliminar {
  padding: 0.8em;
  margin-top: 0.8em;
  width: 100%;
  cursor: pointer;
  background-image: linear-gradient(180deg, #fff, #fff);
  transition: background-image 0.5s ease;
}
.botonEditar:hover, .botonEliminar:hover{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(116,51,127,1) 50%, rgba(255,255,255,1) 100%);  color: #fff;
}
.editar{
  cursor: pointer;
  user-select: none;
}



.container-info img{
  width: 8em;
  height: 8em;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 1em;
}

.card__datos{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__datos span{
  font-weight: bolder;
}

#estado{
  background-color: #ffffff00;
  width: 100%;
  height: 2em;
  display: flex;
  justify-content: end;
  user-select: none;
}
.estado-hijo{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid green;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo span{
  padding: 0.5em;
  color: green;
}
.estado-hijo-click{
  width: 30%;
  height: 1.5em;
  border-radius: 10px;
  border: 2px solid orangered;
  margin: 0.2em 0.5em 0 0;
  text-align: center;
  cursor: pointer;
}

.estado-hijo-click span{
  padding: 0.5em;
  color: orangered;
}

.estado-por-confirman span{
  padding: 0.5em;
  color:gray;
}
.info-head{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.info-head h2, .info-head span{
  display: inline-block;
  width: 100%;

}
.info-head h2{
  margin: 0.5em 0 0 0;
}




