
<div class="container">
  <header>
    <h2>Mapa de disponibilidades.</h2>
  </header>
  <div class="container-disponibilidad">
    <header class="cabecera-tabla-disponibilidad">
      <div class="dispo-diaria">
        <span><h3>Diario</h3></span>
      </div>
      <div class="dispo-semanal">
        <span><h3>Semanal</h3></span>
      </div>
    </header>

    <div class="diario">
      <div class="horas">
        <div class="estado">
          <div></div>
        </div>
        <span class="desde">8:00 a.m.</span>
        <span class="separador">-</span>
        <span class="hasta">10:00 a.m.</span>
      </div>
      <div class="horas">
        <div class="estado-in">
          <div></div>
        </div>
        <span class="desde">11:00 a.m.</span>
        <span class="separador">-</span>
        <span class="hasta">1:00 p.m.</span>
      </div>
    </div>
    <div class="estados">
      <div class="disponible">
        <div class="activo"></div>
        <span>Activo</span>
      </div>
      <div class="no-disponible">
        <div class="inactivo"></div>
        <span>Inactivo</span>
      </div>
    </div>


  </div>
</div>
