<link rel="stylesheet" href="modal-asignar-servicio.component.css">

<div class="contenedor">
    <div class="modal">
        <div class="clase-contenido-modal">
            <div class="close-modal">
                <span>X</span>
            </div>
            <header class="titulo">
                <h2>Asignar nuevo servicio</h2>
            </header>
            <div class="informacion">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo debitis, nobis quos quo sunt cupiditate iste veritatis vero facilis vel voluptatem 
                </p>
            </div>
            <div class="stylist-container">
                
                <label for="checkbox1">
                    
                  <input type="checkbox" id="checkbox1" name="estilista" value="estilista1">
                  <img src="/src/app/imagenes/bebesito.jpg" alt="foto"> Estilista 1
                </label>
                <label for="checkbox2">
                  <input type="checkbox" id="checkbox2" name="estilista" value="estilista2">
                  <img src="/src/app/imagenes/haerin1.jpg" alt="foto">  Estilista 2
                </label>
                <label for="checkbox3">
                  <input type="checkbox" id="checkbox3" name="estilista" value="estilista3">
                  <img src="/src/app/imagenes/sunito1.jpg" alt="foto">  Estilista 3
                </label>
              </div>

              <div class="service-container">
                <div class="service-header">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License 
                            - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <style>svg{fill:#32b40e}</style><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0
                             0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 
                             24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                  <span class="title">Agregar nuevo servicio</span>
                </div>
                <div class="service-body">
                  <select>
                    <option selected disabled>Seleccionar un servicio</option>
                    <option value="servicio1">Cepillado</option>
                    <option value="servicio2">Planchado</option>
                    <option value="servicio3">Alicer</option>
                  </select>
                </div>
              </div>
              
              <div style="text-align: center;">
                <form>
                    <button class="button" type="submit" formaction="javascript:window.history.back()">Guardar</button>
                  </form>
                  
                <!-- <a href="" class="button" ></a>  -->
                </div>
    
            </div> 
        </div>
    </div>

