/* You can add global styles to this file, and also import other style files */
/* ESTILOS GENERALES */
html, body {
  height: 100%;
}
/* Modificar el modelo de cajas de CSS */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* Resetear margenes y padding */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
