/* You can add global styles to this file, and also import other style files */
/* ESTILOS GENERALES */
html, body {
  height: 100%;
}
/* Modificar el modelo de cajas de CSS */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* Resetear margenes y padding */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container{
  display: flex;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilos de la barra de desplazamiento principal*/
body::-webkit-scrollbar{
  width: 1em;

}
body::-webkit-scrollbar-track{
  margin-block: .5em;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(197,92,69,0.6) 0%, rgba(106,46,134,0.6) 100%);
  border: .15em solid rgb(255, 255, 255);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(180deg, rgba(197,92,69,1) 0%, rgba(106,46,134,1) 100%);
}


/* ESTILOS GENERALES ADMINISTRADOR */
/* CARDS */

.card_profile{
  display: flex;
  background: rgb(211, 211, 211, 1);
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(109, 109, 109) ;
  margin: 1em;
}

.card_profile:hover{
  background: linear-gradient(180deg, rgba(211,211,211,1) 45%, rgba(195,91,70,1) 100%);

}

