<div class="container-info">
    <div id="estado">
      <div (click)="cambiarEstado()" [ngClass]="{'estado-hijo': estado, 'estado-hijo-click': !estado}">
                <span>
                    {{textoEstado}}
                </span>
      </div>
      <div class="editar" (click)="mostrarBurbuja()">
        <span class="material-symbols-outlined">
          more_vert
        </span>
      </div>
    </div>
    <div [ngClass]="{'settings-content-collapsed': editar_collapsed, 'settings-content': !editar_collapsed}">
      <div [hidden]="ocultar_opciones">
        <div class="botonEditar">Editar</div>
        <div class="botonEliminar" >Eliminar</div>
      </div>
    </div>
    <img src="/assets/img/card_user.jpg" alt="">
  <div class="info-head">
    <h2>Jose Guzman</h2>
    <span>Estilista</span>
  </div>
    <div class="card__datos">
        <p>Citas asignadas: 8</p>
        <p>Citas cumplidas: 57</p>
        <p>Correo: arleycastaneda22@gmail.com</p>
        <p>Fecha de creación: 02/06/2023</p>
    </div>
  </div>
  
