<div class="container">
  <header>
    <h2>Próximas citas.</h2>
  </header>
  <div class="container-proximas-citas">
    <div class="card-proxima-cita">
      <div class="header-card">
        <img src="/assets/img/card_user.jpg" alt="foto">
        <span>Fecha: 07/06/2023</span>
        <span>Hora: 9:00 a.m.</span>
      </div>
      <div class="header-servicios">
        <h3>Servicios</h3>
        <div class="lista-servicios">
          <span>Tintura</span>
          <span>Cepillado</span>
          <span>Corte de cabello</span>
        </div>
      </div>
    </div>

    <div class="card-proxima-cita">
      <div class="header-card">
        <img src="/assets/img/card_user.jpg" alt="foto">
        <span>Fecha: 07/06/2023</span>
        <span>Hora: 9:00 a.m.</span>
      </div>
      <div class="header-servicios">
        <h3>Servicios</h3>
        <div class="lista-servicios">
          <span>Tintura</span>
          <span>Cepillado</span>
          <span>Corte de cabello</span>
        </div>
      </div>
    </div>
  </div>
</div>
